<section id="introduction">
  <div class="container">
    <article class="content">
      <div class="content-text">
        <h1>Adrian Silva</h1>
        <h3>Engenheiro de Software</h3>
        <ul class="icons">
          <li>
            <a href="https://github.com/AdrianSilvadoNascimento" target="_blank">
              <img src="../../../assets/github.png" alt="Github Icon" />
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/adrian-silva-6b4520200/"
              target="_blank"
            >
              <img src="../../../assets/linkedin.png" alt="LinkedIn Icon" />
            </a>
          </li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=5581999273732&text=Ol%C3%A1!%20Vi%20seu%20portif%C3%B3lio%20e%20gostaria%20de%20entrar%20em%20contato%20com%20voc%C3%AA!"
              target="_blank"
            >
              <img src="../../../assets/whatsapp.webp" alt="Whatsapp Icon" />
            </a>
          </li>
        </ul>
      </div>
    </article>
    <article class="image">
      <img src="../../../assets/profile.jpeg" alt="Profile">
    </article>
  </div>

  <a href="#projects-collection" class="scroll">
    <span>
      <fa-icon [icon]="faArrowDown" size="xl"></fa-icon>
    </span>
  </a>
</section>
