#projects {
  width: 100%;
  height: 100vh;
  margin: 50px auto 20vh auto;

  .project-content {
    width: 75%;
    height: 100vh;
    margin: 50px auto 20vh auto;
  }

  #projects-collection {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow-y: scroll;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);

    .card {
      width: 250px;
      max-height: 450px;
      border-radius: 12px;
      margin: 15px;
      padding: 5px;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      
      .card-header {
        margin-bottom: 10px;
        
        img {
          position: relative;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          max-height: 200px;
          object-fit: cover;
          border-radius: 8px;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          filter: drop-shadow(0 4px 1px rgba(0, 0, 0, 0.5));
        }
      }

      .card-body {
        h4 {
          font-weight: 550;
        }

        h4, p {
          padding: 0 5px;
        }

        p {
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .project-content {
    width: 100% !important;
  }
}
