<section id="projects">
  <h2 class="section-header">Meus Projetos</h2>
  <article class="project-content">
  
    <article id="projects-collection" target="_blank">
      <div class="card">
        <div class="card-header">
          <img
            ngSrc="../../../assets/e-gest-estoque.png"
            width="3000"
            height="3000"
            alt="e-Gest - Estoque"
          />
        </div>
        <div class="card-body">
          <a href="https://o-desejo-em-foco-web.vercel.app/" target="_blank">
            <h4 class="title">Título: e-Gest - Estoque</h4>
          </a>
          <p class="resume">
            Sistema de estoque para pequenas empresas. Que utiliza câmera para
            leitura de código de barras.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img
            ngSrc="../../../assets/e-gest-ponto.png"
            width="3000"
            height="3000"
            alt="e-Gest - Ponto Digital"
          />
        </div>
        <div class="card-body">
          <h4 class="title">Título: e-Gest - Ponto Digital</h4>
          <p class="resume">Aplicativo de controle de ponto digital para pequenas empresas.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img
            ngSrc="../../../assets/pet-id.png"
            width="3000"
            height="3000"
            alt="PET ID"
          />
        </div>
        <div class="card-body">
          <a href="https://pet-id-front.vercel.app/" target="_blank">
            <h4 class="title">Título: PET ID</h4>
          </a>
          <p class="resume">Sistema de monitoramento de PETS.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img
            ngSrc="../../../assets/comics-con.png"
            width="3000"
            height="3000"
            alt="Comics-Con"
          />
        </div>
        <div class="card-body">
          <a href="https://comics-place-two.vercel.app/" target="_blank">
            <h4 class="title">Título: Comics Con</h4>
          </a>
          <p class="resume">Site que lista quadrinhos da Marvel.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img
            ngSrc="../../../assets/e-shop.png"
            width="3000"
            height="3000"
            alt="E Shop"
          />
        </div>
        <div class="card-body">
          <a href="https://adriansilvadonascimento.github.io/EShop/index.html" target="_blank">
            <h4 class="title">Título: e.Shop</h4>
          </a>
          <p class="resume">e-Commerce de produtos variados.</p>
        </div>
      </div>
    </article>
  </article>
</section>
